{{#contacts}}
	<section data-uid="{{uid}}"{{#hidden}} class="hidden"{{/hidden}}>
		<img width="40" height="40" alt="" src="{{avatarSrc}}" data-uid="{{uid}}"/>
		<section class="open" title="{{showMoreInfo}}"></section>
		<section class="data">
			<section class="fio">{{{fio}}}</section>
			<section class="phone">{{phones}}</section>
		</section>
	</section>
{{/contacts}}