<section class="result warn">{{{warningText}}}</section>
<form>
	<section class="description">{{descriptionText}}</section>
	<textarea autofocus required name="text" tabindex="1"></textarea>

	<section class="description">{{{infoText}}}</section>
	<textarea required name="info" tabindex="2"></textarea>

	<button type="submit">{{buttonText}}</button>
</form>
