<p class="description">{{description}}</p>
<section class="buttons">
	<button class="green">{{btnText}}</button>
</section>	
<img width="900" height="513" alt="" src="http://img-fotki.yandex.ru/get/6301/38295944.32/0_69a45_99fe3a0d_orig"/>