<p class="description">
	{{afterBegin}}
	<a href="javascript:;">{{grantAccessLink}}</a>
	{{beforeEnd}}
</p>
<section class="buttons">
	<button class="white tour">{{takeTour}}</button>
	<button class="green access">{{grantAccessBtn}}</button>
</section>
<img width="900" height="513" alt="" src="http://img-fotki.yandex.ru/get/6301/38295944.32/0_69a45_99fe3a0d_orig"/>