<p class="description">
	{{afterBegin}}
	<a href="javascript:;">{{grantAccessLink}}</a>
	{{beforeEnd}}
</p>
<section class="buttons">
	<button class="white tour">{{takeTour}}</button>
	<button class="green access">{{grantAccessBtn}}</button>
</section>
<img is="external-image" width="900" height="513" alt="" src="http://cs14106.vk.me/c624226/v624226118/9152/GbVG70DAlj0.jpg"/>