{{#sections}}
	<section class="half{{#is_new}} new{{/is_new}}" data-mid="{{mid}}"{{#id}} data-did="{{id}}"{{/id}}>
		<img is="avatar-image" width="32" height="32" alt="" src="{{avatarSrc}}" data-uid="{{uid}}"/>
		<section class="data">
			<section class="date">{{humanDate}}</section>
			<section class="from">{{fio}}</section>
			<section class="text">{{{text}}}</section>
		</section>
	</section>
{{/sections}}