{{#messages}}
	<section class="msg">
		<section class="date">{{dateString}}</section>
		<section class="author">{{fio}}</section>
		<section class="subject">[{{subject}}]</section>
		<section class="text">{{{body}}}</section>
		<section class="attachments"></section>
	</section>
{{/messages}}