<h1>
	<img is="avatar-image" width="50" height="50" alt="" src="{{avatarSrc}}" data-uid="{{uid}}"/>
	<span>{{fio}}</span>
</h1>

<section class="syncing">
{{#data}}
	<section class="synctype" id="{{key}}_{{uid}}">
		<p>{{description}}: <span>{{done}} / {{total}}</span></p>
		<progress max="{{max}}" value="{{current}}"></progress>
	</section>
{{/data}}
</section>

<img is="external-image" width="900" height="513" alt="" src="http://cs14106.vk.me/c624226/v624226118/9152/GbVG70DAlj0.jpg"/>
