<h1>{{headerText}}</h1>
<section class="data">
	{{#step1}}
		<img width="500" height="359" alt="" src="http://img-fotki.yandex.ru/get/6301/38295944.32/0_69c8b_b0235f7a_orig"/>
	{{/step1}}

	{{#step2}}
		<img width="500" height="362" alt="" src="http://img-fotki.yandex.ru/get/6305/38295944.32/0_69c8d_c40203af_orig"/>
	{{/step2}}

	{{#step3}}
		<img width="500" height="176" alt="" src="http://img-fotki.yandex.ru/get/6308/38295944.32/0_69c8e_3b5d837_orig"/>
	{{/step3}}

	{{#step4}}
		<iframe frameborder="0" width="500" height="284" seamless="true" src="http://www.youtube.com/embed/QtFJtvC4hOQ"></iframe>
		<img width="500" height="359" alt="" src="http://img-fotki.yandex.ru/get/6301/38295944.32/0_69c8b_b0235f7a_orig"/>
	{{/step4}}

	{{#step5}}
		<img width="500" height="216" alt="" src="http://img-fotki.yandex.ru/get/6303/38295944.33/0_69cb0_a8e7b3c0_orig"/>
		<img width="500" height="193" alt="" src="http://img-fotki.yandex.ru/get/6110/38295944.32/0_69cad_a092b7ba_orig"/>
	{{/step5}}

	{{#step6}}
		<img width="500" height="309" alt="" src="http://img-fotki.yandex.ru/get/6301/38295944.32/0_69c7b_f16056a2_orig"/>
	{{/step6}}

	{{#descriptionElems}}
		<p>{{{text}}}</p>
	{{/descriptionElems}}

	{{#step4}}
		<p class="small">
			<ul>
				<li><a target="_blank" href="http://code.google.com/p/chromium/issues/detail?id=113676">issue #113676</a></li>
				<li><a target="_blank" href="http://code.google.com/p/chromium/issues/detail?id=112367">issue #112367</a></li>
			</ul>
		</p>
	{{/step4}}
</section>
<section class="buttons in-tour">
	{{#step6}}
		<button class="white tour" data-step="1">{{tourText}}</button>
		<button class="green access">{{grantAccess}}</button>
	{{/step6}}

	{{^step6}}
		<button class="green access">{{grantAccess}}</button>
		<button class="white tour" data-step="{{nextStep}}">{{tourText}}</button>
	{{/step6}}
</section>