<h1>{{headerText}}</h1>
<section class="data">
	{{#step1}}
		<img is="external-image" width="500" height="359" alt="" src="http://cs14106.vk.me/c624226/v624226118/9159/l1nv-XA8Sz4.jpg"/>
	{{/step1}}

	{{#step2}}
		<img is="external-image" width="500" height="362" alt="" src="http://cs14106.vk.me/c624226/v624226118/9160/jt_PwH_Beis.jpg"/>
	{{/step2}}

	{{#step3}}
		<img is="external-image" width="500" height="176" alt="" src="http://cs14106.vk.me/c624226/v624226118/9167/uzG0ZYuXK40.jpg"/>
	{{/step3}}

	{{#step4}}
		<iframe frameborder="0" width="500" height="284" seamless="true" src="http://www.youtube.com/embed/QtFJtvC4hOQ"></iframe>
		<img is="external-image" width="500" height="359" alt="" src="http://cs14106.vk.me/c624226/v624226118/916e/Q6B8MQrTGKo.jpg"/>
	{{/step4}}

	{{#step5}}
		<img is="external-image" width="500" height="216" alt="" src="http://cs14106.vk.me/c624226/v624226118/9175/9G-I0GmCAd0.jpg"/>
		<img is="external-image" width="500" height="193" alt="" src="http://cs14106.vk.me/c624226/v624226118/917c/Dnxa17P_xy8.jpg"/>
	{{/step5}}

	{{#step6}}
		<img is="external-image" width="500" height="309" alt="" src="http://cs14106.vk.me/c624226/v624226118/9183/c7aR4WSwB-g.jpg"/>
	{{/step6}}

	{{#descriptionElems}}
		<p>{{{text}}}</p>
	{{/descriptionElems}}

	{{#step4}}
		<p class="small">
			<ul>
				<li><a target="_blank" href="http://code.google.com/p/chromium/issues/detail?id=113676">issue #113676</a></li>
				<li><a target="_blank" href="http://code.google.com/p/chromium/issues/detail?id=112367">issue #112367</a></li>
			</ul>
		</p>
	{{/step4}}
</section>
<section class="buttons in-tour">
	{{#step6}}
		<button class="white tour" data-step="1">{{tourText}}</button>
		<button class="green access">{{grantAccess}}</button>
	{{/step6}}

	{{^step6}}
		<button class="green access">{{grantAccess}}</button>
		<button class="white tour" data-step="{{nextStep}}">{{tourText}}</button>
	{{/step6}}
</section>